@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{

  /*background: linear-gradient(45deg, rgb(22, 24, 23) 20%, rgba(143, 144, 131, 0.7) 82%);
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-image: url("images/contact_bg_5.jpg");
  background-attachment: fixed;
 
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  margin-top: 25px;
  border-radius: 5px; 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid rgb(85, 84, 84);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #24a0ed;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #24a0ed;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
  border-radius: 20px;
}

#name_contact{
  position: center;
}

.heading{
  color: beige;
  font-size: 70px; 
  margin-top: 10px; 
  top: 10px;
}

a:link    { color: rgb(255, 255, 255); text-decoration: none; }
a:visited { color: rgb(255, 255, 255); text-decoration: none; }
a:hover   { color: rgb(255, 255, 255); text-decoration: none; }
a:active  { color: rgb(255, 255, 255); text-decoration: none; }